.dashboard {

    h1 {
        margin: auto;
    }

    // .card-pics {
    //     display: flex;
    //     flex-direction: row;
    //     top:30%;
    //     margin-left: auto;
    //     width:80%;

       

    // }

    .dashboard-img {
        height: 150px;
        position: relative;

        .orange {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }

        .city-pic {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 40%;
        }
    }

}